.photoautoLayoutChild {
  position: relative;
  width: 52px;
  height: 52px;
  flex-shrink: 0;
  object-fit: cover;
}
.cameronWilliamson,
.omgThisIs {
  align-self: stretch;
  position: relative;
  line-height: 150%;
}
.omgThisIs {
  font-size: 14px;
  font-weight: 300;
  opacity: 0.7;
}
.nametext,
.photoautoLayout {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.photoautoLayout {
  flex-direction: row;
  align-items: center;
  gap: 12px;
}
.div {
  position: relative;
  font-size: 14px;
  line-height: 150%;
  font-weight: 300;
  opacity: 0.7;
}
.contactCard {
  align-self: stretch;
  background-color: #fff;
  border-bottom: 1px solid rgba(74, 63, 105, 0.5);
  box-sizing: border-box;
  height: 92px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: 20px 0;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-size: 16px;
  color: #000;
  font-family: Poppins;
}
